@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;400;700&display=swap");


.App {
  font-family: Lato, sans-serif;
  color: #333;
  padding: 40px;
}

h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 200;
  margin: 0px;
}

.disclaimer-date {
  color: #999;
  margin-bottom: 40px;
}

.logos-wrapper {
  display: flex;
}

.div-logo {
  width: 8vw;
  height: 8vw;
  text-align: center;
  padding: 20px;
  margin: 0px 20px 20px 0px;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
}

main {
  width: 580px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.grid-description {
  display: flex;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

